/* Basic Configurations */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #DEF5E5;
}

h2 {
	font-size: 2.2rem;
	margin: 0 0 1rem 0;
}

h3 {
	font-size: 1.8rem;
	margin: 0 0 1rem 0;
}

#formulario {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 20px auto;
	width: 800px;
	background-color: #BCEAD5;
	padding: 2rem;
	border: 4px solid #8EC3B0;
	border-radius: 2rem;
}

.buttons {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: 1rem;
}

.btn {
	padding: 0.6rem 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid black;
	background-color: #082ebd;
	cursor: pointer;
	color: white;
	font-weight: 600;
}

.btn:hover {
	background-color: black;
}

.none {
	display: none;
}

input,
label,
button,
select {
	font-size: 1.5rem;
	font-family: sans-serif;
}

label {
	font-weight: 700;
}

input,
select {
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	border: 1px solid black;
	outline: 1px solid black;
}

#lista {
	background-color: white;
	font-size: 1.3rem;
}

.renglon {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
}

.renglon:hover {
	background-color: #e5e5e5;
}

.campo {
	border: 2px solid black;
	text-align: center;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bold {
	font-weight: 700;
	padding: 0.5rem;
}

.input-file {
	padding: 0.6rem 1.2rem;
	border-radius: 0.5rem 0rem 0rem 0.5rem;
	border: 2px solid black;
	background-color: #082ebd;
	cursor: pointer;
	color: white;
	font-weight: 600;
}

.input-image {
	display: flex;
	flex-direction: row;
}

.input-name {
	padding: 0.6rem 1.2rem;
	border-radius: 0rem 0.5rem 0.5rem 0rem;
	border: 2px solid black;
	cursor: pointer;
	color: black;
	background-color: white;
	font-weight: 600;
	font-size: 1.5rem;
	cursor: default;
}

.input-file:hover {
	background-color: black;
}

.imagenPreview {
	display: flex;
	justify-content: center;
	align-items: center;
}

.campo-img {
	width: 100%;
}